.carousel-container {
  width: 550px;
  height: 550px;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform .3s;
}

.box {
  cursor: pointer;
  height: 100%;
  min-width: 100%;
}

h1 {
  font-family: "Nico Moji";
  font-size: 500%;
  background-color: #e8faff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

body {
  background-color:#abd2e8;
  color:#2e2a55;
  display: flex;          
  flex-direction: column;  
  align-items: center;     
  justify-content: center; 
  min-height: 100vh;      
  margin: 0;             
}

h2, h3 {
  font-family: "M PLUS 1p";
}

h4 {
  font-family: "M PLUS Rounded 1c";
}

.profile {
  background-color: #e8faff;
  border-radius: 10px;
  width: 500px;
  height: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}


#lt,
#gt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  font-size: 24px;
  padding: 0 6px;
  cursor: pointer;
}

#lt {
  left: 8px;
}

#gt {
  right: 8px;
}

#lt:hover,
#gt:hover {
  opacity: .8;
}

.hidden {
  display: none;
}




/* 拡大時の背景（画面全体を覆う黒い壁） */
.modal {
    display: none; 
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
}

/* 拡大される画像本体 */
.modal-content {
    margin: auto;
    display: block;
    width: 80%; 
    max-width: 800px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 閉じるボタン */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}